In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Deletion method

## 1)

In [10]:
from sklearn.datasets import fetch_california_housing

In [19]:
#read a data
house=fetch_california_housing()

In [20]:
df=pd.DataFrame(house.data, columns=house.feature_names)
df.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25

In [21]:
df.isnull().sum()

MedInc        0
HouseAge      0
AveRooms      0
AveBedrms     0
Population    0
AveOccup      0
Latitude      0
Longitude     0
dtype: int64

In [26]:
#making df with every 10th row=Nan
df.iloc[::10]=np.nan #OR df.iloc[::10]=None

In [27]:
df.isnull().sum()

MedInc        2064
HouseAge      2064
AveRooms      2064
AveBedrms     2064
Population    2064
AveOccup      2064
Latitude      2064
Longitude     2064
dtype: int64

In [28]:
df=df.dropna()

In [29]:
df.isnull().sum()

MedInc        0
HouseAge      0
AveRooms      0
AveBedrms     0
Population    0
AveOccup      0
Latitude      0
Longitude     0
dtype: int64

## 2)

In [30]:
from sklearn.datasets import load_iris

In [31]:
iris=load_iris()

In [32]:
df=pd.DataFrame(iris.data, columns=iris.feature_names)
df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [33]:
df.isnull().sum()

sepal length (cm)    0
sepal width (cm)     0
petal length (cm)    0
petal width (cm)     0
dtype: int64

In [34]:
df.iloc[::10]=np.nan

In [35]:
df.isnull().sum()

sepal length (cm)    15
sepal width (cm)     15
petal length (cm)    15
petal width (cm)     15
dtype: int64

In [36]:
df.dropna(inplace=True)

In [37]:
df.isnull().sum()

sepal length (cm)    0
sepal width (cm)     0
petal length (cm)    0
petal width (cm)     0
dtype: int64

# Mean/Median Imputation

## 1)

In [38]:
from sklearn.datasets import fetch_california_housing
from sklearn.impute import SimpleImputer

In [39]:
data=fetch_california_housing()

In [41]:
df=pd.DataFrame(data.data,columns=data.feature_names)
df.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25

In [42]:
df.isnull().sum()

MedInc        0
HouseAge      0
AveRooms      0
AveBedrms     0
Population    0
AveOccup      0
Latitude      0
Longitude     0
dtype: int64

In [43]:
df.iloc[::10]=np.nan

In [44]:
df.isnull().sum()

MedInc        2064
HouseAge      2064
AveRooms      2064
AveBedrms     2064
Population    2064
AveOccup      2064
Latitude      2064
Longitude     2064
dtype: int64

In [47]:
imputer=SimpleImputer(strategy='mean')
df_imputed=imputer.fit_transform(df)

In [49]:
df_imputed=pd.DataFrame(df_imputed,columns=df.columns)

In [50]:
df_imputed.isnull().sum()

MedInc        0
HouseAge      0
AveRooms      0
AveBedrms     0
Population    0
AveOccup      0
Latitude      0
Longitude     0
dtype: int64

## 2)

In [64]:
from sklearn.datasets import load_iris
iris=load_iris()

In [65]:
df=pd.DataFrame(iris.data, columns=iris.feature_names)

In [66]:
df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [67]:
df.isnull().sum()

sepal length (cm)    0
sepal width (cm)     0
petal length (cm)    0
petal width (cm)     0
dtype: int64

In [68]:
df.iloc[::10]=np.nan

In [69]:
df.isnull().sum()

sepal length (cm)    15
sepal width (cm)     15
petal length (cm)    15
petal width (cm)     15
dtype: int64

In [70]:
from sklearn.impute import SimpleImputer
imputer=SimpleImputer(strategy='mean')

In [71]:
df_imputed=imputer.fit_transform(df)

In [72]:
df_imputed=pd.DataFrame(df_imputed,columns=df.columns)

In [73]:
df_imputed.isnull().sum()

sepal length (cm)    0
sepal width (cm)     0
petal length (cm)    0
petal width (cm)     0
dtype: int64

# Regression imputation method

In [74]:
from sklearn.datasets import  fetch_california_housing
from sklearn.linear_model import LinearRegression
import pandas as pd
import numpy as np

In [77]:
data=fetch_california_housing()
df=pd.DataFrame(data.data,columns=data.feature_names)
df.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25

In [78]:
df.iloc[10:20,0]=np.nan

In [79]:
df.isnull().sum()

MedInc        10
HouseAge       0
AveRooms       0
AveBedrms      0
Population     0
AveOccup       0
Latitude       0
Longitude      0
dtype: int64

In [80]:
x_missing=df[df.isna().any(axis=1)]
x_no_missing=df.dropna()

In [81]:
x_train=x_no_missing.drop(columns=['MedInc'])
y_train=x_no_missing['MedInc']
x_test=x_missing.drop(columns=['MedInc'])

In [82]:
model=LinearRegression()
model.fit(x_train,y_train)

LinearRegression()

In [83]:
x_missing['MedInc']=model.predict(x_test)

/tmp/ipykernel_35967/2563625267.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_missing['MedInc']=model.predict(x_test)

In [84]:
#concatenate the two satasets back together
x_imputed=pd.concat([x_missing,x_no_missing],axis=0)

In [85]:
print(x_imputed.isnull().sum())

MedInc        0
HouseAge      0
AveRooms      0
AveBedrms     0
Population    0
AveOccup      0
Latitude      0
Longitude     0
dtype: int64

# Using Interpolation method

In [86]:
from sklearn.datasets import load_iris

In [87]:
data=load_iris()

In [89]:
X=pd.DataFrame(data.data, columns=data.feature_names)
y=data.target

In [91]:
X.iloc[10:20,0]=None
X.iloc[20:30,2]=None

In [92]:
X.isnull().sum()

sepal length (cm)    10
sepal width (cm)      0
petal length (cm)    10
petal width (cm)      0
dtype: int64

In [93]:
X=X.interpolate(method='linear')#simple

In [94]:
X.isnull().sum()

sepal length (cm)    0
sepal width (cm)     0
petal length (cm)    0
petal width (cm)     0
dtype: int64

# Using multiple interpolation methods

In [95]:
from sklearn.datasets import load_iris

In [96]:
x=load_iris()
y=x.target

In [97]:
x=pd.DataFrame(x.data,columns=x.feature_names)

In [98]:
x.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [99]:
x.isnull().sum()

sepal length (cm)    0
sepal width (cm)     0
petal length (cm)    0
petal width (cm)     0
dtype: int64

In [101]:
x.iloc[10:20,0]=None

In [102]:
x.isnull().sum()

sepal length (cm)    10
sepal width (cm)      0
petal length (cm)     0
petal width (cm)      0
dtype: int64

In [106]:
#interpolate missing values using different interpolation methods
x['sepal length (cm)']=x['sepal length (cm)'].interpolate(method='linear')
x['sepal width (cm)']=x['sepal width (cm)'].interpolate(method='quadratic')

In [107]:
x.isnull().sum()

sepal length (cm)    0
sepal width (cm)     0
petal length (cm)    0
petal width (cm)     0
dtype: int64

# Multiple Imputation technique

In [109]:
from sklearn.datasets import load_iris
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

In [110]:
data=load_iris()
X=pd.DataFrame(data.data,columns=data.feature_names)

In [111]:
X.iloc[10:20,0]

10    5.4
11    4.8
12    4.8
13    4.3
14    5.8
15    5.7
16    5.4
17    5.1
18    5.7
19    5.1
Name: sepal length (cm), dtype: float64

In [112]:
imp=IterativeImputer(max_iter=10, random_state=0)
X_imputed=imp.fit_transform(X)

In [113]:
pd.DataFrame(X_imputed).isnull().sum()

0    0
1    0
2    0
3    0
dtype: int64